/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  /* font-family: var(--body-font);
  font-size: var(--normal-font-size); */
}

body {
  /* background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s; */
}

h1, h2, h3 {
  /* color: var(--title-color);
  font-weight: var(--font-semibold); */
}

ul {
  list-style: none;
}

a {
  
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-height:50%;
  max-width: 100%;
  height: auto;
  margin:0 auto;
  object-fit: cover;
}


/*=============== THEME ===============*/


/*========== Variables Dark theme ==========*/


/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/


/*=============== REUSABLE CSS CLASSES ===============*/
.main-container{
    height: 100vh;
    width:100vw;
    overflow: hidden;
    position: relative;
    background: #212D40;
}
.container {
  max-width :1200px;
  margin: auto;
  overflow: hidden;
  height: 100vh;
}
.container .main-title{
    margin: 59px  auto 30px auto;
text-align: center;
width: 233px;

height: 42px;

text-align: center;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 43px;
background: linear-gradient(91.94deg, #F1A546 7.76%, #326ECD 96.57%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
color: transparent;

}
.container .main-title::before{
    content: '';
    position: absolute;
 
    
    top: 81px;
    border-top: solid 2px;
    
    border-image: linear-gradient(90.1deg, #F1A546 -44.28%,  #326ECD 112.73%) 1;

    right: calc(50% + 223px/2 + 2rem);

    width: calc(215px + 7.6rem);

}
.container .main-text{
    height: 84px;
    margin: 0px  auto 48px auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    /* position: relative; */
    font-size: 18px;
    /* left: calc(50% - 50.4rem / 2); */
    line-height: 22px;
    max-width :50.4rem;
    color: #FFFFFF;
}
.grid {
  max-width :60rem;
  margin: auto;
}
.grid-cards{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:2.5rem;
}

.grid-cards::before {
    content: '';
    height: calc(15vh + 84px + 21px + 78px );
    border-style: solid;
  border-width:2px;
  border-image: linear-gradient(90.1deg, #326ECD -44.28%, #F1A546 112.73%) 1;
    left: calc(-2.6rem);
    bottom: calc(45vh + 2.2rem);
    width: 2.5rem;
    border-right: 0;
    position: absolute;
    z-index:4;
}
.grid-cards-inner{
  transition: 1s transform;
  padding: 2rem 1.5rem;
  width: 210px;
  z-index: 5;
  height: 30vh; 
  display: flex;
  background:  #212D40;
  justify-content: space-around;
  position: relative;
  flex-direction: column;
  color: #FFF;
  
 border-top: 2px solid #326ECD;
    border-bottom:2px solid #F1A546;
    background-image: 
        linear-gradient(#326ECD, #F1A546),
        linear-gradient(#326ECD, #F1A546)
    ;
    background-size:2px 100%;
    background-position:0 0, 100% 0;
    background-repeat:no-repeat;
  
    border-radius: 1em;
  /* background: 2px solid wheat; */
}
.grid-cards-inner::after {
    content: '';
    height: 1.5px;
    background-image: linear-gradient(90.1deg, #326ECD -44.28%, #F1A546 112.73%);  
    right: calc(-2.5rem - 2px);
    width: 2.5rem;
    position: absolute;
}
.grid-cards-inner:hover{
    transform: scale(1.2);
}
.grid-cards-inner:nth-child(8)::after {
    content: '';
    
    display: none;
}

.grid-cards-inner:nth-child(4)::after {
    content: '';
    right: 50%;
    bottom: calc(-2.5rem - 2px);
    height: 2.5rem;
    width: 1.5px;

    /* border-left: 0px solid transparent ; */
    background-image: linear-gradient(90.1deg, #326ECD -44.28%, #F1A546 112.73%);  
}
/* .grid-cards-inner:hover::after{
    width: calc(2.5rem * 0.8);
} */

.grid-cards-inner p{
    font-size: 0.8rem;
    text-align: center;
}



/* second page */

.second-container{
  background: #fff;
  height: 100vh;
  position: relative;
  width: 100vw;
  margin: auto;
  text-align: center;
  /* background: url("../../assets/img/page_photo1.png"); */
  overflow: hidden;
}
.second-container::before{
  position: absolute;
  width: 303px;
  height: 240px;
  top: calc(50vh - 3rem);
  
  /* z-index: 2; */
    color: transparent;
    content: '';
    left: calc(80vw + 5.5rem);
    /* z-index: 2; */
    background: url('../img/page_photo1.png') no-repeat;
    background-size: contain;
    overflow: hidden;
    /* transform: rotate(-89.45deg); */
    /* background-size: 205px 300px; */
    
}
.second-container .second-page-item{
  position: relative;
  /* top: 94px; */
  text-align: center;
  top: 50%;
  margin: auto;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: grid;

  grid-template-columns: repeat(2,1fr);
  width: 80vw;
  height: 70vh;
  background: url('../img/shutterstock_1980174881.png') no-repeat;
  background-size: contain;
  /* margin: 1rem 0.5rem; */
  padding: 2rem 1.5rem;
  border-radius: 0rem;  
  /* background: linear-gradient(0.37deg, rgba(33, 45, 64, 0.69) 57.05%, rgba(33, 45, 64, 0) 107.48%); */

}

.second-page-item .second-page-inner{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.second-page-item .second-page-inner .img-container{
  height:9.5rem;
  display: flex;
  flex-direction: row;
}
.second-page-item .second-page-inner .img-container img{
  position: relative;
  
  margin: 3rem 2rem 0 2rem;
}
.second-page-item .second-page-inner .img-container img:nth-child(1){
  position: absolute;
  width: 14rem;
  height:7rem ;
  top: 1rem;
  object-fit: contain;
  /* margin-left: 1rem; */
}

.second-page-item .second-page-inner .img-container img:nth-child(2){
  position: absolute;
  width: 18rem;
  height:7rem;
  top: 0.8rem;
  left: 14rem;
  object-fit: contain;
  /* margin: 0.5rem 2rem; */
  /* margin-right: 1rem; */
}
.second-page-item .second-page-inner p{
  text-align:justify;
  margin: 0.5rem 7rem;
  font-size: 0.9rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  /* width: 468px; */
}
.second-page-item .second-page-inner a{
  color:white;
  font-family: 'Montserrat', sans-serif;
  /* width: 468px; */
}
.second-page-item .second-page-inner button{
  
  background: none;
  position: relative;
  padding: 0.8rem 2rem;
  border-width: 2px;
  border-style: solid;
  /* margin: auto; */
  /* text-align: left; */
  display: inline-block;
  /* position: relative; */
  margin: 2rem 7rem;
  border-image: linear-gradient(90.1deg, #326ECD -44.28%, #F1A546 112.73%) 1;
  /* width: 468px; */
}
.btn-primary{
  /* background: */
  /* color:#fff; */
  /* border-image: linear-gradient(to right, darkblue, darkorchid) 1; */
  background: none;
  padding: 0.8rem 2rem;
  margin: 0.5rem 4rem;
}
/* career - container  */
/* basic container */


/*  endees ehelj bga shuu  */
.career-container{
  height: 100vh;
  width:100vw;
  
  overflow: hidden;
  background: url("../img/career-back.png")  center right/contain;
  position: relative;
  /* background: url('../img/career-back.png') no-repeat center/contain; */
  /* background-size: cover; */
}
/* inner container is contained margin-left,margin-right both  inner items */
.inner-container{
  max-width: 85vw;
  display: flex;
  margin: auto;
  flex-direction: column;
  margin:2rem 6rem 2rem 6rem;
}
.inner-container .career-title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 2.1rem;
  width: 20rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin:1rem 0 2rem 0;
  /* identical to box height */
  background: linear-gradient(90.09deg, #F1A546 -2.69%, #326ECD 106.39%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.inner-container .career-navbar{
  margin:3rem 0 3rem 0;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
.inner-container .career-navbar li{
  margin-right: 4rem;
  padding: 0.7rem 1.7rem;
  align-items: center;
  justify-content: center;
}
.inner-container .career-navbar li a{
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1rem;
  color: #212D40;
}
/* active navbar */
.active-navbar{
  padding: 0.7rem 1.7rem;border:2px solid #326ECD;
}
.table-container {
  margin: 2rem 0 2rem 0 ;
  border-width: 2px;
  border-style: solid;
  background: rgba(196, 196, 196, 0.01);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(35px);
  /* margin: auto; */
  /* text-align: left; */
  padding:2rem 3rem;
  border-image: linear-gradient(90.1deg, #326ECD -44.28%, #F1A546 112.73%) 1;
}


table 			      { 
  width: 100%;
  border-spacing: 1; 
  border-collapse: collapse; 
  background:transparent;
  /* border-radius:6px; */
  overflow:hidden;
 
  width:100%;
  margin:0 auto;
  position:relative;
}
table *  { position:relative }
table td,th{
  padding-left:1rem;
}

table tbody tr{
  height:4.5rem; border-bottom:1.5px solid #C7C7C7;
}

table td th {
  text-align:left;
}
table td th .l {
  text-align:left;
}
table td th .c {
  text-align:center;
}
table td th .r {
  text-align:right;
}
table td th a:hover{
  cursor: pointer;
}
.primary-text{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 24px;
/* identical to box height, or 141% */
color: #326ECD;
}
.table-body-text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  color: #212D40;
}
.table-second-text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  
  color: #212D40;
}

.table-third-text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  color: #888888;
}
.table-forth-text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  color: #888888;
  
}

/* main-career */
.main-career{
  height: 100vh;
  width:100vw;
  overflow: hidden;
  background: url("../img/person-career.png") no-repeat center center/cover;
  position: relative;
}
.main-career::after {
  content: "";
  background: linear-gradient(359.63deg, rgba(33, 45, 64, 0.79) 22.48%, rgba(33, 45, 64, 0) 141.18%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.main-career .inner-career{
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(90.1deg, #f08706 -44.28% , #326ECD 112.73%) 1;
    position: absolute;
    width: 53rem;
    height: 16.5rem;
    right: 0;
    backdrop-filter: blur(40px);
    top: 17rem;
    padding:2rem;
    padding-left:3rem ;
    padding-right:5rem ;
    z-index: 2;
}
.main-career .inner-career .inner-career-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 1.5rem;
  /* identical to box height */
  text-align: right;
  width: 302px;
  height: 55px;
  color: #FFFFFF;
}
.main-career .inner-career .orange-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  text-align: right;
  width: 302px;
  height: 55px;
  background: linear-gradient(90.09deg, #F1A546 -2.69%, #fff 106.39%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.main-career .inner-career .inner-career-desc {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
}

.advance-inner-container{
  position: relative;
  max-width: 40rem;
  margin: auto;
  top: 30%;

}
/* advanve/contact us */
.advance-title{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 55px;
text-align: center;

color: #212D40;

}
.block{
  display: block;
}
.andorean-title{
  background: linear-gradient(90.09deg, #F1A546 -2.69%, #326ECD 106.39%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline-block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
}
.advance-desc{
margin: 2rem 0;
font-family: 'Montserrat';
width: 652px;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
/* or 160% */
color: #212D40;
}
.goto-home-btn{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  text-align: center;

  /* identical to box height */
  transform: translate(-50%);
  left: 50%;
  position: absolute;
  padding: 0.7rem 0.75rem;
  border-width: 2px;
  margin: 0;
  border-style: solid;
  border-image: linear-gradient(90.1deg, #f08706 -44.28% , #326ECD 112.73%) 1;
  color: #212D40;
}
.apply-container{
position: relative;
width: 100vw;
height: 1779px;
overflow: hidden;
background: #F5F5F5;

}
.apply-container::before{
  content: "";
  position: absolute;
width: 1400px;
height: 1182px;
left: 462px;
top: 418px;
overflow: hidden;
  z-index: 1;
  background: url("../img/apply.png") no-repeat center center/cover;
  }
.apply-container .apply-inner-container{
margin:auto;
display: flex;

display: block;
max-width: 80vw;
display: flex;
flex-direction: column;
}
.apply-title{
align-self: center;
justify-content: center;
margin: 5rem 0 5rem 0; 
font-family: 'Montserrat';
font-style: normal;
width: 561px;
height: 50px;
font-weight: 600;
font-size: 35px;
line-height: 50px;


/* identical to box height, or 143% */
  text-align: center;
background: linear-gradient(89.79deg, #F1A546 -5.13%, #326ECD 86.47%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}
.apply-second-title{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #212D40;
margin: 1rem 0 2rem 0;
}
.about-desc{
  width: 65vw;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
/* or 160% */
margin: 1.5rem 0;
color: #212D40;
}
.about-orange-desc{
  margin: 1.5rem 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  
  color: #F1A546;
}
.square{
  position: relative;
  bottom: 1.5px;
display: inline-block;
margin-right: 1.5rem;
width: 8px;
height: 8px;
background: #212D40;
}
.apply-inner-container ul{
  /* list-style-type: square; */
  
}
.apply-inner-container ul li {
  padding: 1rem 0rem;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
/* or 160% */
color: #212D40;
}
.apply-main-container{
  height: 100vh;
  width:100vw;
  margin: auto;
  overflow: hidden;
  background: url("../img/career-back.png")  center right/contain;
  position: relative;
}
.apply-inner-container-2{
  margin:2rem;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-items: center;
}
.apply-title-2{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 43px;
margin: 2rem;
/* identical to box height */
width: 200px;
height: 43px;
text-align: center;
background: linear-gradient(90.09deg, #F1A546 -2.69%, #326ECD 106.39%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}
.contact-container{
  margin: 2rem;
  width: 592.18px;
  height: 694px;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(35px);
  border-width: 2.5px;
  border-style: solid;
  border-image: linear-gradient(90.1deg, #F1A546 -44.28% , #326ECD 112.73%) 1;
  display: flex;
  flex-direction: column;
  
}
.contact-container .contact-container-title{
  margin: 2rem;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #212D40;
}
.contact-container .text-dark{
  font-family: 'Montserrat';
  font-weight: 800;
  color: #333;
}
.drag-area{
  margin: 1rem 3rem 1rem 3rem;
  border: 2px dashed #000000;
  display: flex;

  padding: 1rem;
  align-items: center;
  height: 226px;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active{
  border: 2px solid #fff;
}
.drag-area .icon{
  width: 44px;
  height: 43px;
  margin: 0.5rem;
}
.drag-area header{

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  
  color: #212D40;
  
}
.drag-area p{
  margin: 0.5rem 0;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-align: center;

color: #344765;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}
.drag-area img{

  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.contact-container .input-text{
  display: inline-block;
  margin: 1rem 3rem;
  width: 214px;
  text-indent: 8px;
  height: 28px;
  padding: 0 0.5rem;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(35px);
}
.contact-container .line{
  margin:2rem 3rem;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(90.1deg, #f08706 -44.28% , #326ECD 112.73%) 1;
}
.contact-container .checked-container{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.contact-container .checked-box{
  margin:0 1rem;
  border: 1px solid #333;
  border-width: 3px 3px 3px 3px;

  width: 18.76px;
height: 17.86px;
  
}
.contact-container p{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;

font-size: 15px;
line-height: 18px;
color: #212D40;
}


.contact-container .home-btn{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  /* identical to box height */
  align-self: center;
  padding: 0.7rem 1.5rem;
  border-width: 2px;
  margin: 2rem 0;
  border-style: solid;
  border-image: linear-gradient(90.1deg, #f08706 -44.28% , #326ECD 112.73%) 1;
  color: #212D40;
}
/* zuun taliin container */
.apply-inner-container-2 .grid-area-1{

  display: grid;
  grid-template-columns: 1fr 1fr;
 
  grid-column-gap: 2rem;
}
.apply-inner-container-2  .grid-area{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 1.2rem;
}
.apply-inner-container-2  .grid-area label{
  padding: 0.5rem 0;
  display: block;
}
.apply-inner-container-2  .grid-area input{
  display: inline-block;
text-indent: 8px;
width: 200px;
height: 28px;
padding: 0 0.5rem;
/* background: rgba(196, 196, 196, 0.01); */
/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.082); */
/* backdrop-filter: blur(10px); */
}
.apply-inner-container-2  .grid-area select{
  display: inline-block;
text-indent: 8px;
height: 28px;
width: 200px;
padding: 0 0.5rem;
/* background: rgba(196, 196, 196, 0.01); */
/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.082); */
/* backdrop-filter: blur(10px); */
}

/* baruub tal */
.apply-inner-container-3{
  margin:auto;
  display: flex;
  flex-direction:column;
  max-width: 500px;
}
.apply-inner-container-4{
  margin: 1rem 0;
  padding:0 1rem 1rem 1rem;
  border-left-width:3px;
  border-left-style: solid;
  border-image: linear-gradient(90.1deg, #f08706 -44.28% , #326ECD 112.73%) 1;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  justify-items: start;
}
.apply-inner-container-4 p{
  line-height: 1.5;
  font-size: 1rem;
}
.apply-inner-title{
  margin: 0.5rem 0;
  font-size: 4rem;
}
/* andorain class nemeerei */
.apply-inner-subtitle{
  margin-bottom: 4rem;
  margin-top: 1rem;
  text-align: center;
  
}
.text-bold{
  color:black;
  font-weight: bold;
}
/*  apply - container class ijil uchir dahin ashiglaad  */
@media only screen and (max-width: 700px)  {
  .inner-container{
    margin: auto;
    display: block;
    /* padding: 0; */
  }
  .inner-container ul li{
    width: 100%;
  }
  .inner-container .career-navbar{
    display: block;
    text-align: center;
    padding: 0;
    /* flex-direction:column; */
  }
  .table-container{
    /* text-align: center; */
    margin: 0;
    padding: 0;
    border:none;
  }
  table	{ display:block;}
table > *,tr,td,th{
  display:block ;
}
table tbody tr{
  height:auto; padding:8px 0;
} 
table td{
  text-align: center;
  padding-left:0; margin-bottom:12px;
}
table td:last-child{
  margin-bottom:0;
}
table td::before{
  position:absolute;
  font-weight:700;
  width:40%;
  left:10px;
  top:0;
}
table td::nth-child(1):before {
  content:"Code";
} 
table td::nth-child(2):before{content:"Stock";}
table td::nth-child(3):before{content:"Cap";}
table td::nth-child(4):before{content:"Inch";}
table td::nth-child(5):before{ content:"Box Type";}
.main-career .inner-career{
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(90.1deg, #f08706 -44.28% , #326ECD 112.73%) 1;
  position: absolute;
  width: 100vw;
  height: auto;
  left: 0;

  backdrop-filter: blur(40px);
  padding: 0.5rem !important;
  z-index: 2;
}
.main-career .inner-career .inner-career-desc{
 font-size: rem;
  /* height: 60vh; */
  margin: 0;
  display: block;
  backdrop-filter: blur(40px);
  display: inline-block;
  height: 100%;
}
}  	
@media only screen and (max-width: 1268px) {
  .inner-container{
    margin: auto;
    display: block;
    /* padding: 0; */
  }
  .inner-container ul li{
    width: 100%;
  }
  .inner-container .career-navbar{
    display: block;
    text-align: center;
    padding: 0;
    /* flex-direction:column; */
  }
  .main-career .inner-career{
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(90.1deg, #f08706 -44.28% , #326ECD 112.73%) 1;
    position: absolute;
   
    height: auto;
    right: 0;
    backdrop-filter: blur(40px);
  
    padding:2rem;
    padding-left:3rem ;
    padding-right:5rem ;
    z-index: 2;
  }

}  	
/* Active link */


/* Change background header */


/*=============== HOME ===============*/
/*=============== BUTTONS ===============*/


/*=============== ABOUT ===============*/


/*=============== SKILLS ===============*/


/*=============== SERVICES ===============*/


/* Services modal */


/*Active modal*/


/*=============== WORK ===============*/


/* Active item work*/


/*=============== TESTIMONIAL ===============*/


/* Swiper class */


/*=============== CONTACT ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */
